
<br/>

<section class="productsCart mb-3">
    <aside>
    <div class="promo-code">
      <div class="texts">
        <p class="logo">Métricas Transacciones</p>
        <p class="">Efectividad/Eficiencia</p>
      </div>
    </div>
  </aside>
</section>

{{# each metricsData}}
<section class="news">
  <div class="third ">
    <div class="third-anns"> 
      <p class="title mx-5">Transacciones:</p>
      
      <p class="logo">{{this.transactions}}</p>
     
    </div>
    <div class="third-anns">
        <a href="#">
      <img src="img/news/watches.png">
      </a>
      <p class="title">Métrica 2</p>
    </div>
  </div>

  <div class="first">
    <p class="title">Métrica 3</p>
    <p class="desc">.</p>
    <a href="adminUsers">
    <img src="img/news/headphones.png">
    </a>
  </div>

  <div class="second">
      <a href="#">
    <p class="title">Métrica 4</p>
    </a>
    <p class="desc">.</p>
  </div>
</section>


<section class="news">
    
  <div class="first">
    <p class="title">Métrica 5</p>
    <p class="desc">.</p>
    <a href="adminUsers">
    <img src="img/news/headphones.png">
    </a>
  </div>

  <div class="second">
      <a href="#">
    <p class="title">Métrica 6</p>
    </a>
    <p class="desc">.</p>
  </div>


  <div class="third ">
    <div class="third-anns">
        <a href="#">
      <img src="img/news/pencil.png">
      </a>
      <p class="title">Métrica 7</p>
    </div>
    <div class="third-anns">
        <a href="#">
      <img src="img/news/watches.png">
      </a>
      <p class="title">Métrica 18</p>
    </div>
  </div>
</section>

 {{/each}}
<br/>
<br/>