
<br/>
<section class="news">
    
  <div class="first">
    <p class="title">Personas</p>
    <p class="desc">Manejar usuarios</p>
    <a href="adminUsers">
    <img src="img/news/headphones.png">
    </a>
  </div>

  <div class="second">
      <a href="#">
    <p class="title">Productos  .</p>
    </a>
    <p class="desc">Agregar, Modificar, Eliminar</p>
  </div>


  <div class="third ">
    <div class="third-anns">
        <a href="adminTransactions">
      <img src="img/news/pencil.png">
      </a>
      <p class="title">Métricas Transacciones</p>
    </div>
    <div class="third-anns">
        <a href="#">
      <img src="img/news/watches.png">
      </a>
      <p class="title">Métricas Cliente</p>
    </div>
  </div>
</section>
<br/>
<br/>