<footer id="footer">

  <div class="listeds">
    <div class="top">
    <a href="/" class="logo" id="hf">bāzār</a>


    

  <div class="listeds ">
  <div class="top">
      
    <a href="/" class="logo">bāzār</a>

    <ul class="links">

      
      <li class="link mx-3">
        <a href="/order/price"><img src="/img/icons/ic_add_list.png" alt="Items in cart">
       Productos
      </a>
      </li>
      

      
      <li class="link mx-3">
        <a href="/cart">
      <img src="/img/icons/ic_shopping_cart.png" alt="Items in cart">
       Carrito
      </a></li>
      
      
      

      
      
      {{# if user }}
      <li class="link mx-3">
        
        <a href="/log-out">
        <img src="/img/icons/ic_arrow_down.png" alt="Sign In"> Cerrar sesión
        </a>
      </li>


      {{# if user.admin }}
      
      <li class="link mx-3"><a href="/adminPage">
      <img src="/img/icons/ic_account_circle.png" alt="Sign In">
       Administrador
      </a></li>
      
      {{/if}}

      <li class="link mx-3">
        <a> 
          <img src="/img/icons/ic_account_circle.png" alt="Sign In"> {{user.username}}
        </a>
      </li>
        {{ else }}
        <li class="link mx-3"><a href="/sign-in">
        <img src="/img/icons/ic_arrow_right.png" alt="Items in cart"> Iniciar sesión
        </a></li> 
        {{/if}}
    </ul>

    <ul class="social-links">
      <li class="link"><img src="/img/icons/social/ic_facebook.png" alt="Facebook"></li>
      <li class="link"><img src="/img/icons/social/ic_twitter.png" alt="Twitter"></li>
      <li class="link"><img src="/img/icons/social/ic_instagram.png" alt="Instagram"></li>
      <li class="link"><img src="/img/icons/social/ic_youtube.png" alt="Youtube"></li>
    </ul>
    
    </div>


    <div class="line-div"></div>
  
  </div>

</footer>
