<header id="header">


  <div class="listeds">
    <div class="top">
    <a href="/" class="logo">b훮z훮r</a>
    <ul class="links">

      
      <li class="link"><a href="/order/price">
      <img src="/img/icons/ic_add_list.png" alt="Items in cart">
       Productos
      </a></li>
      

      
      <li class="link">
        <a href="/cart">
      <img src="/img/icons/ic_shopping_cart.png" alt="Items in cart">
       Carrito
      </a></li>
      
      
      {{# if user.admin }}
      
      <li class="link"><a href="/adminPage">
      <img src="/img/icons/ic_account_circle.png" alt="Sign In">
       Administrador
      </a></li>
      
      {{/if}}

      
      
      {{# if user }}
      <li class="link">
        
        <a href="/log-out">
        <img src="/img/icons/ic_arrow_down.png" alt="Sign In"> Cerrar sesi처n
        </a>
      </li>
      <li class="link">
        <a> 
          <img src="/img/icons/ic_account_circle.png" alt="Sign In"> {{user.username}}
        </a>
      </li>
        {{ else }}
        <li class="link"><a href="/sign-in">
        <img src="/img/icons/ic_arrow_right.png" alt="Items in cart"> Iniciar sesi처n
        </a></li> 
        {{/if}}
    </ul>

    <ul class="social-links">
      <li class="link"><img src="/img/icons/social/ic_facebook.png" alt="Facebook"></li>
      <li class="link"><img src="/img/icons/social/ic_twitter.png" alt="Twitter"></li>
      <li class="link"><img src="/img/icons/social/ic_instagram.png" alt="Instagram"></li>
      <li class="link"><img src="/img/icons/social/ic_youtube.png" alt="Youtube"></li>
    </ul>
    
    </div>

   
  
  </div>




  

</header>
